Requirements to get this repo running properly:

sudo pip install django
sudo pip install djangorestframework
sudo pip install pygments
sudo pip install django-mptt
sudo pip install requests
sudo pip install goodreads
sudo pip install wit

##INSIDE OF THE goodreads FOLDER ##
sudo pip install -r requirements.txt
sudo python setup.py install
